{% extends 'base.html' %}

{% block title %} - Sign-in {% endblock %}

{% block login %}
	    <div class="container">
        <h1>Sign in please</h1>
        <form action="{% url 'accounts:sign-in' %}" method="POST">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}

            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <p>Email</p>
            {{ form.email }}

            {% if form.password.errors %}
                {{ form.password.errors }}
            {% endif %}
            <p>Password</p>
            {{ form.password }}
            <input type="submit">
        </form>
    </div>
{% endblock %}